<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container-fluid" style="background-color: silver; height: 100vh">
    <div class="row" style="height: 10%">
    </div>
    <div class="row" style="height: 80%">
        <div class="col-md-3"></div>
        <div class="col-md-3" , style="background-color: white;">
            <div style="text-align: center; color: gray; font-size: 30px; font-weight: bold; padding-top: 10%;">Create
                your Content
            </div>
            <form enctype="multipart/form-data" action="/add-content/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label style="margin-top: 32px; margin-bottom: 8px; color: gray; font-size: 20px; font-weight: bold">Content name</label>
                    <input type="text" class="form-control" id="name" name="title" style="background-color: gray">
                </div>
                <div class="form-group" style="margin-bottom: 20px">
                    <label for="selection_"
                           style="margin-top: 16px; margin-bottom: 8px;  color: gray; font-size: 20px; font-weight: bold ">Select
                        category</label>
                    <select class="form-control" id="selection" name="category" style="background-color: gray">
                        {% for category in categories %}
                            <option>{{ category.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <label style="margin-top: 0; margin-bottom: 0; color: gray; font-size: 20px; font-weight: bold">File
                    name</label>
                <input id="file" type="file" name="file">
                <label style="margin-top: 16px; margin-bottom: 0; color: gray; font-size: 20px; font-weight: bold">Attachments</label>
                <input type="file" name="attachments" multiple>
                <button type="submit" class="btn btn-outline-secondary" style="margin-top: 32px">Submit</button>
            </form>
        </div>

        <div class="col-md-3" style="background-color: mediumaquamarine">
            <img src="../../static/images/lib.png" style="height: 85%; width: 100%">
        </div>

        <div class="col-md-3">
        </div>

    </div>

</div>

</body>
</html>