{% extends 'base.html' %}

{% block title %}Sign-in{% endblock title %}

{% block content %}
    <h1>HomePage</h1>
    <ul>
        <li><strong>logged-in:</strong> {{ is_authenticated }}</li>
        <li><strong>username:</strong> {{ username }}</li>
    </ul>

    {% if not user.is_authenticated %}
        <p class="text-center">Login <a href="/login">Here</a></p>
    {% else %}
        <p class="text-center"><a href="/my-page/files/all">Your Files</a></p>
        <p class="text-center"><a href="/logout">Logout</a></p>
    {% endif %}
{% endblock content %}